doctype xml
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="en")
  head
    title= title
    meta(http-equiv="Content-Type", content="application/xhtml+xml; charset=UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
  body
    block content